# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
week1_programming_challenges
week2_algorithmic_warmup
week3_greedy_algorithms
week4_divide_and_conquer
week5_dynamic_programming1
week6_dynamic_programming2

# vscode
.vscode